/** Slick slider customization for NCTE **/
.slider-container {
  position: relative;
  width: 960px;
  height: 316px;
  overflow: hidden;
  margin: 0 auto;
  border: 1px solid gray;
}
.slider__slides,
.slider__nav-thumbnails {
  position: absolute;
}
.slider__slides {
  top: 0;
  left: 0;
  width: 931px;
}
.slider__nav-thumbnails {
  top: 0;
  right: 0;
  width: 250px;
  padding-left: 0px;
  z-index: 1;
  color: white;
}
.slider__nav-thumbnail {
  float: none;
  height: 79px;
  width: 100% !important;
  display: table-row !important;
  outline: none;
  opacity: 0.7;
  font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;
}
.slider__nav-thumbnail:before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  position: relative;
  top: 31px;
  left: 90px;
  opacity: 0;
  transition: 1s;
}
.slider__nav-thumbnail:hover:before,
.slider__nav-thumbnail.slick-current:before {
  opacity: 1;
  left: 20px;
}

.slider__nav-thumbnail h3 {
  font-size: 1em;
  cursor: pointer;
  margin: 0;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
  padding-left: 60px;
}

.slider__nav-thumbnail h3:after {
  content: " ";
  display: block;
  width: calc(100% + 60px);
  height: 2px;
  position: relative;
  margin-left: -60px;
  top: 1em;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+47&0+0,1+41 */
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 41%, rgba(255,255,255,1) 47%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 41%,rgba(255,255,255,1) 47%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 41%,rgba(255,255,255,1) 47%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}



/* background gradient */

.slider__nav-thumbnails {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#202924+0,202924+67&0+0,1+33 */
background: -moz-linear-gradient(left, rgba(32,41,36,0) 0%, rgba(32,41,36,1) 33%, rgba(32,41,36,1) 67%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(32,41,36,0) 0%,rgba(32,41,36,1) 33%,rgba(32,41,36,1) 67%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(32,41,36,0) 0%,rgba(32,41,36,1) 33%,rgba(32,41,36,1) 67%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00202924', endColorstr='#202924',GradientType=1 ); /* IE6-9 */
}