/** Slick slider customization for NCTE **/
.slider-container {
  position: relative;
  width: 960px;
  height: 316px;
  overflow: hidden;
  margin: 0 auto;
  border: 1px solid gray;
}
.slider__slides,
.slider__nav-thumbnails {
  position: absolute;
}
.slider__slides {
  top: 0;
  left: 0;
  width: 931px;
}
.slider__nav-thumbnails {
  top: 0;
  right: 0;
  width: 250px;
  padding-left: 130px;
  z-index: 1;
  color: white;
}
.slider__nav-thumbnail {
  float: none;
  height: 79px;
  width: 100% !important;
  line-height: 4;
}
.slider__nav-thumbnail h3 {
  margin: 0;
  padding: 0;
}

/* background gradient */

.slider__nav-thumbnails {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#202924+0,202924+67&0+0,1+33 */
background: -moz-linear-gradient(left, rgba(32,41,36,0) 0%, rgba(32,41,36,1) 33%, rgba(32,41,36,1) 67%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(32,41,36,0) 0%,rgba(32,41,36,1) 33%,rgba(32,41,36,1) 67%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(32,41,36,0) 0%,rgba(32,41,36,1) 33%,rgba(32,41,36,1) 67%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00202924', endColorstr='#202924',GradientType=1 ); /* IE6-9 */
}